<h1 class="animated fadeIn fast">SOBRE LOS COMICS</h1>

<p class="animated fadeIn">Akiracomics.com es la tienda online de la libreria Akira Cómics, un negocio familiar e independiente especializado en la venta de cómics, manga, literatura fantástica y derivados. 
    Fundada el 11 de Septiembre de 1993 y regentada por la familia Marugán, actualmente es una de las referencias dentro del sector de la venta al detalle de cómics (y derivados) de nuestro país. 
    
    Akira Cómics es una librería especializada en cómics pero NO es una librería de cómics al uso, como las que normalmente estarás acostumbrado a conocer, sea por los medios de comunicación o por visitarlas regularmente. Akira Cómics es (probablemente) la librería con más personalidad de España, ya que su estilo, enfoque y disposición es diferente a lo que habitualmente un aficionado puede encontrar en un establecimiento al uso.
    Puedes encontrar estas diferencias un poco más abajo, en nuestro MANIFIESTO de seis puntos, pero podemos avanzar que somos una pequeña empresa con un fuerte compromiso social que trata de aunar éxito laboral con ayuda a los más necesitados.
    
    Akira Cómics NO PERTENECE a ninguna editorial o cadena de tiendas. Tampoco sus dueños son copropietarios de editoriales. Es un punto de venta independiente y familar que no está influenciado o depende de políticas corporativas, estrategias editoriales o similar. Todo lo que somos y hacemos sucede sin la ayuda de una cadena o de una empresa editora.
    Akira Cómics es únicamente fruto del trabajo de una familia media española.
    Nuestra independencia es bandera y parte del ADN de Akira Cómics.</p>